// variables
@import 'variables/global-variables';
// base
@import 'base/root';
@import 'base/base';
@import 'base/header';

html {
  background-color: var(--clr-primary-background);
  color: var(--clr-primary-text)
}

.main-container {
  display: flex;
  background-color: var(--clr-primary-content-background);
  justify-content: center;
  margin: 0 auto;
  width: 50rem;
}