.weapons {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}
.weapons .weapon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.weapons .weapon img {
  width: 3rem;
  height: 3rem;
}
